--- platformpowerstate.service---
[Unit]
Description=platform system power state
After=network.target

[Service]
Type=simple
RemainAfterExit=true
ExecStart=/home/root/platformpowerstate.sh
Environment="HOME=/home/root"
WorkingDirectory=/home/root/
[Install]
WantedBy=multi-user.target
----platformpowerstate.service ---